.media{
    display: flex;
    flex-direction: column;
    padding:5px;
    width: 200px;
    background-color:rgb(45, 42, 85) ;
    margin: 20px 0px ;
    border-radius: 10px;
    box-shadow: 0px 0px 5px -4px rgb(19, 19, 19);
    transition: 0.1s;
}
@media (max-width:550px){
    .media{
        width: 46%;
    }
}
.media:hover{
    box-shadow: 0px 0px 10px -1px rgb(0, 0, 0);
    transform: scale(101%);
    cursor: pointer;
}
.poster{
    border-radius: 10px;
}
.title{
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0px ;
    font-weight:500;
}
.subTitle{
    display: flex;
    justify-content: space-between;
    padding: 0px 2px;
    padding-bottom: 3px;
    font-size: 14px;
}